@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body{
    font-family: "Righteous", cursive;
    background-color: #171717;
    margin: 0;
}

/* home page */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DA0037;
    color: #EDEDED;
    width: 250px;
    height: 80px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.1s ease-in-out;
    font-size: larger;
}

.button:hover{
    width: 260px;
    height: 90px;
    border-radius: 45px;
}

/* navigation bar */
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #DA0037;
    justify-content: space-between;
    height: 7vh;
}

.logo{
    color: #EDEDED;
}

.item{
    text-decoration: none;
    color: #EDEDED;
}

/* main page  */
.main-div{
    display: flex;
    flex-direction: column;
}

.selection{
    position: relative;
    font-family: "Righteous";
    background:#171717;
    color: #EDEDED;
    border: none;
    border-radius: 0px;
    margin-top: 2.5px;
}

.rover-selection{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 30px;
    gap: 10px;
}

.rover-selection p{
    color: #EDEDED;
}

.details{
    display: flex;
    margin: 10px;
    gap: 10px;
    @media (max-width: 768px){
        flex-direction: column;
    }
}

.inner-details{
    width: 50%;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    padding: 20px;
    background: #444444;
    @media (max-width: 768px){
        width: calc(100vw - 60px);
    }
}

.image-selection{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
    @media (max-width: 1024px){
        display: flex;
        flex-direction: column;
    }
}

.image-selection p{
    color: #EDEDED;
}

.choose{
    display: flex;
    align-items: center;
    gap: 10px;
}

.images{
    display: flex;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    margin: 10px;
    gap: 10px;
    overflow-x: auto;
}

.images img{
    width: 60vw;
    height: 60vh;
    @media (max-width: 768px) {
        width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }
}