/*

rover selection - select a specific rover from which you want to retrieve the images
camera selection - filter images based on the camera used to capture them, each rover is equipped with multiple cameras, each serving different purposes
sol (martian day) selection - specify the martial sol (day) for which you want to retrieve images

date the image was taken, rover's location when the image is captured ...

curiosity 
    landing date: 2012-08-06
    launch date: 2011-11-26
    max date: 2023-08-01
    max sol: 3905
    status: active

opportunity 
    landing date: 2004-01-25
    launch date: 2003-07-07
    max date: 2018-06-11
    max sol: 5111
    status: complete

curiosity 
    landing date: 2004-01-04
    launch date: 2003-06-10
    max date: 2010-06-10
    max sol: 2208
    status: complete    

get photos from a specific rover and camera on a specific sol: https://api.nasa.gov/mars-photos/api/v1/rovers/{rover_name}/photos

get latest photos from a specific rover: https://api.nasa.gov/mars-photos/api/v1/rovers/{rover_name}/latest_photos

get information about avaialable rovers: https://api.nasa.gov/mars-photos/api/v1/rovers

get photos from all rovers on a specific sol: https://api.nasa.gov/mars-photos/api/v1/rovers/all/photos

curiosity
    Front Hazard Avoidance Camera FHAZ
    Rear Hazard Avoidance Camera RHAZ
    Mast Camera	MAST
    Chemistry and Camera Complex CHEMCAM
    Mars Hand Lens Imager MAHLI	
    Mars Descent Imager	MARDI
    Navigation Camera NAVCAM

opportunity & spirit
    Front Hazard Avoidance Camera FHAZ
    Rear Hazard Avoidance Camera RHAZ
    Navigation Camera NAVCAM
    Panoramic Camera PANCAM
    Entry, Descent, and Landing Camera ENTRY
    Miniature Thermal Emission Spectrometer (Mini-TES) MINITES	

*/

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body{
    font-family: "Righteous", cursive;
    background-color: rgba(0, 0, 0, 0.895);
    margin: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(211, 49, 49);
    color: rgb(238, 226, 210);
    width: 250px;
    height: 80px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.1s ease-in-out;
    font-size: larger;
}

.button:hover{
    width: 260px;
    height: 90px;
    border-radius: 45px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(19, 18, 18);
    justify-content: space-between;
    height: 7vh;
    position: sticky;
    top: 0;

}

.logo{
    color: rgb(238, 226, 210);
}

.item{
    text-decoration: none;
    color: rgb(238, 226, 210);
}

.main-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(238, 226, 210);
}

.top-box{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.select{
    border: none;
    font-family: "Righteous", cursive;
    background-color: rgb(27,27,27);
    color: rgb(211, 49, 49);
}

.detail-box{
    display: flex;
    flex-direction: column;
}

.item-details{
    display: flex;
    gap: 20px;
}

.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-headings{
    display: flex;
    align-items: center;
    gap: 10px;
}

.h2{
    color: green;
}

.h4{
    color: red;
}

.headings{
    display: flex;
    align-items: center;
    gap: 10px;
}

.prev-btn,.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.image-slider {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slider-image {
    height: 35%;
    width: 35%; 
    display: flex;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.slider-image.active {
    transform: translateX(-100%);
}

  