@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
body{
    font-family: "Righteous", cursive;
    background-color: rgba(0, 0, 0, 0.895);
    // overflow-x: hidden;    
    margin: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(211, 49, 49);
        color: rgb(238, 226, 210);
        width: 250px;
        height: 80px;
        text-decoration: none;
        border-radius: 40px;
        transition: 0.1s ease-in-out;
        font-size: larger;
    }

    .button:hover{
        width: 260px;
        height: 90px;
        border-radius: 45px;
    }
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(19, 18, 18);
    justify-content: space-between;
    height: 7vh;
    position: sticky;
    top: 0;

    .logo{
        color: rgb(238, 226, 210);
    }
    
    .item{
        text-decoration: none;
        color: rgb(238, 226, 210);
    }
}

.main-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(238, 226, 210);

    .top-box{
        display: flex;
        gap: 10px;
        align-items: center;
        
        .select{
            border: none;
            font-family: "Righteous", cursive;
            background-color: rgb(27,27,27);
            color: rgb(211, 49, 49);
        }
    }

    .detail-box{
        display: flex;
        flex-direction: column;

        .item-details{
            display: flex;
            gap: 20px;
        }

        .image{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .image-headings{
                display: flex;
                align-items: center;
                gap: 10px;
    
                .h2{
                    color: green;
                }
    
                .h4{
                    color: red;
                }
            }
            .img{
                width: 30%;
                height: 30%;
            }
        }
    }

}
  